@import './theme.scss';
.wrap {
    min-height: 100vh;
    width: 100vw;
    background-color: #fff;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: .5s;
    .container {
        animation-name: fadeIn;
        animation-duration: .5s;
        padding-left: 35rpx;
        padding-right: 35rpx;
        box-sizing: border-box;
    }
}